qdrant-client 
langchain
datasets
langchain-community
unstructured
langchain-qdrant
langchain-text-splitters
langgraph
langchain-huggingface
guardrails-ai
sentence-transformers
langchain-tavily
fastapi
uvicorn[standard]
transformers
accelerate
sqlalchemy
databases
pydantic
httpx
pytest
python-multipart
aiofiles
gunicorn